#divBusca{
  background-color:#E0EEEE;
  border:solid 2px #3678ba;
  border-radius:10px;
  width:300px;
  height:32px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:34px;
  width:191px;
}

#btnBusca{
  border:none;
  float:left;
  height:30px;
  border-radius:0 7px 7px 0;
  width:71px;
  font-weight:bold;
  background:#3678ba;
}

#divBusca img{
  float:left;
}

.ok{
margin:80px 0px 100px 0px;

}
