.navbar-brand img{
	height: auto;
	width: auto;
	max-height: 65px;
	position: relative;
	bottom:10px;
}
.icones{
margin:0px 0px 0px 200px;
position:right;
}

.ok{
margin:80px 0px 100px 0px;
}

#titulo{
margin: 0px 0px 25px 0px;
text-align:center;
}/*
#login{
width:500px;
float:center;
}*/
